* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  background-image: url(/assets/mountains-universe-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

header {
  margin-top: 40px;
  margin-left: 72px;
  margin-bottom: 170px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

header nav {
  display: flex;
  flex-direction: row;

  gap: 32px;
}

header nav a {
  font-size: 24px;
  color: #8d8d99;
  text-decoration: none;
}

header nav a:hover {
  color: white;
  font-weight: bold;
}

div {
  margin-left: 100px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 24px;
}

h1 {
  color: #e1e1e6;
  font-size: 48px;
}

p {
  color: #e1e1e6;
  font-size: 18px;
}
